<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <header>
      <% include headerr %>
    </header>
    <main>
      <h1>404: not found.</h1>
    </main>
    <footer>
      <% include footer %>
    </footer>
  </body>
</html>
