<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <header>
      <% include header %>
    </header>
    <main>
      <form class="login" action="#" method="post">
        <fieldset>
          <legend>Create New Account</legend>
          <label for="create-username">Username*:</label>
          <input type="text" name="create-username" id="create-username" placeholder="" value="" title="Choose a username" required>
          <label for="create-email">Email*:</label>
          <input type="email" name="create-email" id="create-email" placeholder="" value="" title="Please, provide a valid email address" required>
          <label for="create-password">Password*:</label>
          <input type="password" name="create-password" id="create-password" placeholder="" value="" title="Please, provide a password for your account" required>
          <button name="create-user" id="create-user">Create Account</button>
        </fieldset>
      </form>
      <p>Already have an account? <a href="../">Login</a></p>
    </main>
    <footer>
        <% include footer %>
    </footer>
  </body>
</html>
