<html>
  <head>
    <title>Conboss | Edit Event</title>
    <meta name="description" content="Convention management made easy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav">
          <li><a href="../">Login</a></li>
          <li><a href="../events">Events</a></li>
          <li><a href="../users">Users</a></li>
        </ul>
      </nav>
      <h1>Conboss | Edit Event</h1>
    </header>
    <main>
      <form class="new-event-form" action="../api/events" enctype='application/json' method="put">
        <fieldset>
          <legend>Event Information</legend>
          <label for="title">Title*:</label>
          <input type="text" id="title" name="title" title="Please, provide a title for your event" value="" placeholder="" required>
          <label for="start">Start Time*:</label>
          <input type="datetime-local" id="start" name="start" title="Please, provide a starting time for your event" value="" placeholder="" required>
          <label for="end">End Time*:</label>
          <input type="datetime-local" id="end" name="end" title="Please, provide an ending time for your event" value="" placeholder="" required>
          <label for="details">Details:</label>
          <textarea id="details" name="details" title="Please, provide details about your event" placeholder=""></textarea>
          <button type="submit" id="submit" name="submit">Confirm Edit</button>
        </fieldset>
      </form>
    </main>
    <footer></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../events.js" charset="utf-8"></script>
  </body>
</html>
