<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <header>
      <% include header %>
    </header>
    <main>
      <button type="button" class="new-event" name="new-event" onclick="location.href='/events/new'">Add Event</button>
      <ul class="list"></ul>
    </main>
    <footer>
        <% include footer %>
    </footer>
  </body>
</html>
