<% include head %>
      <section>
            <div class="event-list"></div>
            <button class="btn-large" id="btn-add-event" name="new-event" onclick="location.href='/events/new'">Add Event</button>
      </section>
<% include footer %>