<% include head %>
      <button class="btn-large" id="btn-add-event" name="new-event" onclick="location.href='/events/new'">Add Event</button>
      <div class="event-list"></div>
<% include footer %>