</main>
<footer>
  <span>Created by <a href="https://github.com/sloanstewart" target="_blank">Sloan</a></span>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script src="/client.js" charset="utf-8"></script> -->
</footer>
</body>
</html>
