<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>Conboss</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Convention management made easy">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <header>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <% include header %>
    </header>
    <!-- Nav Drawer -->
    <nav class="nav-drawer" id="nav-drawer">
        <a href="javascript:void(0)" class="nav-drawer-close text-button" onclick="closeNav()">&times;</a>
          <a class="text-button" href="/login">Login</a>
          <a class="text-button" href="/logout">Logout</a>
          <a class="text-button" href="/events">Events</a>
          <!-- <a class="text-button" href="/users">Users</a> -->
          <a class="text-button" href="/dashboard">Dashboard</a>
        
    </nav>
    <main>
        <div class="nav-drawer-overlay" id="nav-drawer-overlay" onclick="closeNav()"></div>
