<div class="header-wrapper">
  <a href="/"><span class="text-headline">ConBoss</span></a>
  <nav>
    <a class="text-button" href="/login">Login</a>
    <a class="text-button" href="/logout">Logout</a>
    <a class="text-button" href="/events">Events</a>
    <!-- <a class="text-button" href="/users">Users</a> -->
    <a class="text-button" href="/dashboard">Dashboard</a>
  </nav>
</div>
