<script src="/js/header.js"></script>
<div class="menu-icon" id="menu-icon" onclick="openNav()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>
<div class="header-wrapper">
  <a href="/"><span class="text-headline">ConBoss</span></a>
  <nav id="nav-bar">
    <% if (typeof user == 'object' && user) { %>
      <a class="text-button" href="/events">Events</a>
      <a class="text-button" href="/users/dashboard">Dashboard</a>
      <a class="text-button" id="logout" href="/users/logout">Logout</a>
      <a class="" href="users/me"><%= user.email %></a>
    <% } else { %>
      <a class="text-button" href="/users/login">Login</a>
    <% } %>
  </nav>
</div>