<% include head %>
      <section class="hero">
        <h1 class="text-display-4">ConBoss</h1>
        <h3 class="text-display-1">Conferences Made Easy</h3>
      </section>
      <section class="" id="about">
        <p>
          Yo, managing a conference sucks, and not having an easy way to find the events you want to attend as an attendee sucks. ConBoss helps you solve all that!
        </p>

        <button class="btn-large btn-green" type="button" name="CTA" onclick="location.href='/login'">Get Started</button>

        <!-- <p>
          <a href="/flash">Flash</a>
        </p> -->
        <!-- flash toast -->
        <!-- <% if (message != null ) { %>
            <div class="toast"><%= message %></div>
            <% } %> -->
      </section>
<% include footer %>