<html>
  <head>
    <title>Conboss</title>
    <meta name="description" content="Convention management made easy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav">
          <li><a href="./">Login</a></li>
          <li><a href="./events">Schedule</a></li>
          <li><a href="./users">Users</a></li>
        </ul>
      </nav>
      <h1>Conboss | Login</h1>
    </header>
    <main>
      <form class="login" action="#" method="post">
        <input type="text" name="email" id="email" placeholder="email" value="">
        <input type="text" name="password" id="password" placeholder="password" value="">
        <input type="button" name="login" id="login" value="Login">
      </form>
      <p><a href="../register">Register for a free account.</a></p>
    </main>
    <footer>

    </footer>
    <script src="/client.js" charset="utf-8"></script>
  </body>
</html>
