<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <header>
      <% include header %>
    </header>
    <main>
      <section class="section hero">
        <h1>ConBoss</h1>
        <h3>The ultimate app</h3>
        <button class="btn-green" type="button" name="CTA" onclick="location.href='/login'">Get Started</button>
      </section>
      <section class="section" id="about">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada dignissim lorem, ac sagittis est porta sed. In facilisis sollicitudin turpis, ut bibendum dolor iaculis at. Vivamus nunc augue, dapibus vel aliquet ac, auctor vel sapien. Maecenas id rhoncus lacus. Nam viverra elementum eleifend. Morbi et tempor libero. Quisque accumsan vehicula suscipit. Maecenas ac magna a mauris placerat euismod. Morbi ac odio sit amet nisl venenatis sagittis ut eget nisi. Maecenas ornare malesuada vestibulum. Duis eget turpis sagittis, semper diam iaculis, convallis ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc pretium tellus in leo rhoncus dignissim.
      </section>
    </main>
    <footer>
      <% include footer %>
    </footer>
  </body>
</html>
