<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <header>
      <% include header %>
    </header>
    <main>
      <form class="login" action="" method="get">
        <fieldset>
          <legend>Login</legend>
          <label for="email">Email:</label>
          <input type="email" name="login-email" id="login-email" placeholder="" value="" title="Please enter the email address associated with your account" required>
          <label for="login-pass">Password:</label>
          <input type="password" name="login-pass" id="login-pass" placeholder="" value="" title="Please enter the password for your account" required>
          <button name="login" id="login">Login</button>
        </fieldset>
      </form>
      <p>Don't have an account? <a href="../register">Register</a></p>
    </main>
    <footer>
      <% include footer %>
    </footer>
  </body>
</html>
