<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <header>
      <% include header %>
    </header>
    <main>
      <form class="event-form" method="post" onsubmit="return createEventRedirect()">
        <fieldset>
          <legend>Event Information</legend>
          <label for="title">Title*:</label>
          <input type="text" id="title" name="title" title="Please, provide a title for your event" value="" placeholder="" required>
          <label for="start">Start Time*:</label>
          <input type="datetime-local" id="start" name="start" title="Please, provide a starting time for your event" value="" placeholder="" required>
          <label for="end">End Time*:</label>
          <input type="datetime-local" id="end" name="end" title="Please, provide an ending time for your event" value="" placeholder="" required>
          <label for="details">Details:</label>
          <textarea id="details" name="details" title="Please, provide details about your event" placeholder=""></textarea>
          <label for="create-event"></label>
          <button id="create-event" class="btn-green" name="create-event">Create Event</button>
        </fieldset>
      </form>
    </main>
    <footer>
      <% include footer %>
    </footer>
  </body>
</html>
