<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <header>
      <% include header %>
    </header>
    <main>
      <form class="login" action="#" method="post">
        <input type="text" name="email" id="email" placeholder="email" value="">
        <input type="text" name="password" id="password" placeholder="password" value="">
        <input type="button" name="register" id="register" value="Register">
      </form>
      <p>Already have an account? <a href="../">Login</a></p>
    </main>
    <footer>
        <% include footer %>
    </footer>
  </body>
</html>
