<html>
  <head>
    <title>Conboss | Schedule</title>
    <meta name="description" content="Convention management made easy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Schedule</h1>
      <nav></nav>
    </header>
    <main>
      <ul>
        <li>Events listed here!</li>
      </ul>
    </main>
    <footer>

    </footer>
    <script src="/client.js" charset="utf-8"></script>
  </body>
</html>
