<% include head %>
      <!-- <button id="btn-add-user" class="btn-centered" name="add-user" onclick="location.href='/user/create'">Add User</button> -->
      <div class="user-list"></div>
<% include footer %>