<html>
  <head>
    <% include head %>
  </head>
  <body>
    <header>
      <% include header %>
      </nav>
    </header>
    <main>
      <button id="btn-add-user" class="btn-centered" name="new-event" onclick="location.href='/user/new'">Add Event</button>
      <div class="user-list"></div>
    </main>
    <footer><% include footer %></footer>
  </body>
</html>
