<% include head %>
        <section id="title">
          <% if (user) { %>
            <h1 class="text-title"><%= user.email %>'s Schedule</h1>
          <% } %>
        </section>
        <section class="saved-event-list">
          <!-- TODO this should really be a list, not 'cards' -->
          
          <!-- TODO loop through events with EJS -->
          <!-- <div class="saved-event-list"><%- user.savedEvents %></div> -->
        </section>
        <script src="/js/user-dashboard.js"></script>
<% include footer %>

