<html>
  <head>
    <% include head %>
  </head>
  <body>
    <header>
      <% include header %>
      </nav>
    </header>
    <main>
      <ul class="user-list"></ul>
    </main>
    <footer><% include footer %></footer>
  </body>
</html>
