<% include head %>
        <section id="title">
          <h1 class="text-title">Schedule</h1>
        </section>
        <section class="saved-event-list">
          <!-- TODO this should really be a list, not 'cards' -->
          event list will be here
          <!-- TODO loop through events with EJS -->
        </section>
        <script src="/js/user-dashboard.js"></script>
<% include footer %>
