<% include head %>
      <section>
        <!-- /api/auth/login -->
        <h1 class="text-title">Login</h1>        
        <form id="login-form" class="login" action="/users/login" method="POST">
          <fieldset>
            <legend>Login</legend>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" placeholder="" value="" title="Please enter the email address associated with your account" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="" value="" title="Please enter the password for your account" required>
            <button id="login" type="submit">Login</button>
          </fieldset>
        </form>
        <p>Don't have an account? <a href="../signup">Sign Up</a></p>
<% include footer %>
