<!DOCTYPE html>
<% include head %>

        <section id="title">
            <h1 class="text-title"><%= user.email %>'s Schedule</h1>
        </section>
        <section class="saved-event-list">
          <!-- TODO this should really be a list, not 'cards' -->
        
            <div class="list-item card">
                <div class="dialog-content">
                  <span class="text-title" href="../../events/view/">  </span>
                  <p class="text-subhead"> </p>
                </div>
                <div class="dialog-button-container">
                  <a class="text-button" id="btn-details" data-id="" href="../../events/view/">Details</a>
                  <a class="text-button" id="btn-remove" data-id="" href="../../api/events/remove/">Remove</a>
                </div>
            </div>
          <!-- TODO loop through events with EJS -->

        </section>
<% include footer %>

