* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {

}

a, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}
