/*
MY DANK COLORS
color: #263238;
color: #37474F;
color: #607D8B;
color: #B0BEC5;
color: #ECEFF1;
color: #7A82CC;
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  background-color: #37474F;
}

header {
  padding: 0 1em;
  margin: 0;
  color: #B0BEC5;
  background: #37474F;
  overflow: auto;
}
.header {
  max-width: 600px;
  padding: 0;
  margin: 0 auto;
}

header h1 {
  vertical-align: middle;
  display: inline-block;
  padding: 0.25em 0;
  margin: 0 auto;
}

nav {
  float: right;
}

nav .nav-link {
  color: #B0BEC5 !important;
  display: inline-block;
  padding: 0.5em;
  min-width: 4em;
}

nav a:hover, nav a:focus  {
  text-decoration: none;
  background: #607D8B;
}

main {
  text-align: center;
  min-height: 125vh;
  padding: 1em 2% 50% 2%;
  margin: auto;
  background: #ECEFF1;
}

footer {
  padding: 8em 0 2em 0;
  margin: auto;
  text-align: center;
  color: #B0BEC5;
  background: #37474F;
}

p{
  padding: 0;
  margin: 0;
}

a, a:visited {
  color: #7A82CC;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

input, textarea {
  border: none;
}

button, input[type=button] {
  min-width: 4em;
  padding: 0.5em;
  margin: 0 1em 0 0 ;
  letter-spacing: 0.05em;
  font: 1em sans-serif;
  background-color: #B0BEC5;
  border: none;
  transition: all ease-in-out 0.2s;
}
button:hover, button:focus {filter: brightness(90%);}

.btn-blue {background-color: #7A82CC;}
.btn-green {background-color: #DCEDC8;}
.btn-yellow {background-color: #FFECB3;}
.btn-red {background-color: #FFCCBC;}
.btn-centered {margin: 0em auto 1em auto;}


.list-item {
  text-align: left;
  min-width: 300px;
  max-width: 600px;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFF;
}

.item-title {
  padding: 0;
  margin: 0;
  color: #37474F;
  letter-spacing: 0.10em;
}

.item-time {
  color: #607D8B;
  font-size: 0.75em;
  font-style: italic;
}
.item-details {
  padding: 0 0 1em 0;
  margin: 0;
}

form {
  text-align: center;
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
}

form label {
  display: inline-block;
  text-align: right;
  width: 25%;
  min-width: 85px;
}

form input, textarea {
  font: 1em sans-serif;
  padding: 0.5em;
  margin: 0.5em;
  width: 60%;
}

form textarea {
  vertical-align: top;
  height: 5em;
}
