/*
MY DANK COLORS
color: #263238;
color: #37474F;
color: #607D8B;
color: #B0BEC5;
color: #ECEFF1;
color: #7A82CC;
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: rgba(0,0,0,0.87);
  background-color: #eeeeee;
}

.text-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.text-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
}
.text-button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 32px;
}
.text-menu {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
}
.text-subhead {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.text-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
}
.text-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
}
.text-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 52px;
}
.text-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 64px;
}
.text-display-3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
}
.text-display-4 {
  font-size: 112px;
  font-weight: 300;
  line-height: 128px;
  letter-spacing: -5px;
}
h1, h2, h3, h4 {
  margin: 0;
}

.centered {
  text-align: center;
}

header {
  padding: 0 1em;
  margin: 0;
  color: #B0BEC5;
  background-color: #37474F;
  overflow: auto;
}
.header {
  max-width: 600px;
  padding: 0;
  margin: 0 auto;
}

header h1 {
  vertical-align: middle;
  display: inline-block;
  padding: 0.25em 0;
  margin: 0 auto;
}

nav {
  float: right;
}

nav .nav-link {
  color: #B0BEC5 !important;
  display: inline-block;
  padding: 0.5em;
  min-width: 4em;
}

nav a:hover, nav a:focus  {
  text-decoration: none;
  background-color: #607D8B;
}

main {
  max-width: 960px;
  text-align: center;
  padding: 0 1rem;
  margin: 0;
  background-color: transparent;
}

section {
  padding: 1rem;
  margin: auto;
  background-color: none;
}

.hero {
  text-align: center;
}

footer {
  padding: 1rem 0 1rem 0;
  margin: auto;
  text-align: center;
  color: #B0BEC5;
  /* background: #37474F; */
}

p{
  padding: 0;
  margin: 0;
}

a, a:visited {
  color: #7A82CC;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

input, textarea {
  border: none;
}

button, input[type=button], .btn {
  padding: 0 3rem;
  margin: 1em;
  min-width: 88px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  border: none;
  outline: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  cursor: pointer;
  user-select: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.btn-large {
  height: 54px;
  line-height: 54px;
}

button:hover, button:focus {filter: brightness(90%);}

.btn-blue {background-color: #7A82CC;}
.btn-green {background-color: #DCEDC8;}
.btn-yellow {background-color: #FFECB3;}
.btn-red {background-color: #FFCCBC;}

.list-item {
  text-align: left;
  min-width: 300px;
  max-width: 600px;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFF;
}

.item-title {
  padding: 0;
  margin: 0;
  color: #37474F;
  letter-spacing: 0.10em;
}

.item-time {
  color: #607D8B;
  font-size: 0.75em;
  font-style: italic;
}
.item-details {
  padding: 0 0 1em 0;
  margin: 0;
}

form {
  text-align: center;
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
}

form label {
  display: inline-block;
  text-align: right;
  width: 25%;
  min-width: 85px;
}

form input, textarea {
  font: 1em sans-serif;
  padding: 0.5em;
  margin: 0.5em;
  width: 60%;
}

form textarea {
  vertical-align: top;
  height: 5em;
}
